<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cookpro.mapper.ChatRecordMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO chat_record (conversation_id, user_message, bot_response, created_at)
        VALUES
        <foreach collection="list" item="record" separator=",">
            (#{record.conversationId}, #{record.userMessage}, #{record.botResponse}, #{record.createdAt})
        </foreach>
    </insert>

    <select id="selectByConversationWithOrder" resultType="org.cookpro.entity.ChatRecord">
        SELECT * FROM chat_record
        WHERE conversation_id = #{conversationId}
        ORDER BY
            thread_id ASC,
            create_time ASC,
            id ASC
    </select>

</mapper>