<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cookpro.mapper.ToolMapper">
    <select id="selectChatDTOByIds" resultType="org.cookpro.dto.ToolChatDTO">
        SELECT tool_name AS toolName, source, audit_remark AS auditRemark, auditor_id AS auditorId
        FROM tool
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND deleted = 0
    </select>
    <select id="selectChatDTOByName" resultType="org.cookpro.dto.ToolChatDTO">
        SELECT tool_name AS toolName, source, audit_remark AS auditRemark, auditor_id AS auditorId
        FROM tool
        WHERE tool_name = #{toolName}
        AND deleted = 0
    </select>
</mapper>
