<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cookpro.mapper.UserPreferenceMapper">


    <select id="getOneByUserId" resultType="org.cookpro.dto.UserPreferenceDTO">

    SELECT  content AS preferContent
    FROM user_preference
    WHERE user_id = #{userId}
    </select>
</mapper>